entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

api:
  dashboard: true
  insecure: false

http:
  middlewares:
    cors-headers:
      headers:
        accessControlAllowOriginList:
          - "https://myjotts.com"
        accessControlAllowMethods:
          - "GET"
          - "POST"
          - "PUT"
          - "DELETE"
          - "OPTIONS"
        accessControlAllowHeaders:
          - "Content-Type"
          - "Authorization"
        accessControlAllowCredentials: true

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  letsencrypt:
    acme:
      email: "contact@myjotts.com"
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web
