name: Block Direct Push to Main

on:
  push:
    branches:
      - main

jobs:
  block-push:
    runs-on: ubuntu-latest
    steps:
      - name: Check if push is from allowed branches
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" && \
                "${{ github.event.before }}" != "0000000000000000000000000000000000000000" && \
                "${{ github.event.head_commit.message }}" != *"Merge branch 'development'"* && \
                "${{ github.event.head_commit.message }}" != *"Merge branch 'staging'"* ]]; then
            echo "Direct pushes to the main branch are not allowed. Please use a pull request."
            exit 1
          fi
