name: Development CI

on:
  push:
    branches:
      - "feature/*"
      - "bugfix/*"
      - "*"
  pull_request:
    branches:
      - development

jobs:
  frontend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Node.js for Frontend
        uses: actions/setup-node@v2
        with:
          node-version: "18"
      - run: cd frontend && npm install
      - run: cd frontend && npm run build
      - run: cd frontend && npm run test

  portal-backend:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Node.js for Backend
        uses: actions/setup-node@v2
        with:
          node-version: "18"
      - run: cd portal-backend && npm install
      - run: cd portal-backend && npm run build
      - run: cd portal-backend && npm run test
